/* Generic */

.root {
    -fx-background-color: white;
}

/* TAB PANE */

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #222;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #bbb;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #bbb;
}

.series1 {
    -fx-background-color: transparent;
}