/* Generic */

.root {
    -fx-background-color: white;
}

/* TAB PANE */

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #0a9900;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #22ff02;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #22ff02;
}